<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uge 2 øvelser</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <a asp-area="" asp-page="/Index">HOME</a>
        <a asp-area="" asp-page="/StarWarsPeople">Star Wars - People</a>
        <a asp-area="" asp-page="/StarWarsPlanets">Star Wars - Planets</a>
        <a asp-area="" asp-page="/OwnApi">???</a>
    </nav>
    <div id="main">@RenderBody()</div>
</body>
</html>